NET "TERM3" LOC="P54";
NET "TERM2" LOC="P53";
NET "TERM1" LOC="P52";
NET "DFF_CLK" LOC="P55";
NET "LED1" LOC="P39";
NET "LED2" LOC="P40";
NET "LED3" LOC="P41";
NET "LED4" LOC="P42";
NET "data1" LOC="P76";
NET "DATA2" LOC="P74";
NET "DATA3" LOC="P72";
NET "DATA4" LOC="P71";
NET "B0" LOC="P70";
NET "B1" LOC="P68";
NET "B2" LOC="P67";
NET "B3" LOC="P66";
NET "B4" LOC="P65";
NET "B5" LOC="P64";
NET "B6" LOC="P63";
NET "B7" LOC="P61";